#mainTitle {
    color: red;
    text-align: center;
    border:2px solid black;
    padding: 20px;
    border-radius: 10px;
}

#results {
    color: blue;
    text-align: center;
    border:2px solid black;
    padding: 20px;
    border-radius: 10px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}